.footer {
  position: absolute;
  margin-top: 20px;
  width: 960px;
  margin-bottom: 20px;
}

.container {
  background-color: #ededed;
  width: 100%;
  border-radius: 5px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container p {
  margin: 0;
}