.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 15px;
}

.comments {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;  
  margin-top: 30px;
  padding-top: 10px;
}

.grey-bg {
  background-color: #f1f1f1; 
}

.comment {
  margin: 10px 0;
  padding: 4px;
}

.wrapper img {
  width: 230px;
  height: 320px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-right: 20px;
}

.film-details {
  width: 50%;
  display: inline-block;
}

.film-details h2 {
  margin-top: 0;
}

.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}