.star {
  list-style-type: none;
  float: left;
  width: 100px;
  height: 100px;
}

.hovered {
  background-image: url('../../../../common/img/star_2.png');
}

.unhovered {
  background-image: url('../../../../common//img/star_1.png');
}