.genres-wrapper {
  padding-bottom: 20px;
}

.sidebar {
  width: 25%;
}

.sidebar-elem {
  list-style-type: none;
  width: 16%;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

.sidebar-ul {
  padding: 0;
  width: 100%;
  margin-left: .5%;
}