.header {
  background-color: #2f73c1;
  border-color: #e7e7e7;
  margin-bottom: 19px;
  height: 5%;
}

.logout-button {
  color: #777;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  border: none;
  background-color: transparent;
}

.logout-button:hover {
  color: #333;
  background-color: transparent;
}

.logout-button:focus {
  border: none;
  outline: none;
}